---
---
@import "variables";

.wrapper-masthead .container {
  background: $white;
}

nav {
  background: $umich_blue;
  padding-top: 5px;
  padding-bottom: 5px;

  a {
    color: $white;
    font-weight: 300;
    font-size: 14pt;
    letter-spacing: 1px;
    margin-right: 25px;

    &:hover, &:active, &:focus {
      color: $umich_yellow;
    }
  }
}

#masthead-top {
  min-height: 10px;
  background: $umich_yellow;
}

#masthead-middle {
  padding-top: 5px;
  padding-bottom: 5px;
}

.site-avatar-container {
  text-align: right;
  padding-right: 25px;
}

.site-avatar img {
  height: 70px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.site-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.site-description {
    font-size: 12pt;
}