---
---

.projectsTable {
	border-collapse: collapse;
}

.projectsTable td {
	border-top: 1px solid #DDDDDD;
}

.projectThumbnailCell {
	text-align: center;
}

.projectShortDescCell {
}

.projectTitle {
	font-size: 20px;
	font-weight: bold;
}
