---
---

.publication {
	font-size: 80%;
}

.publication .title {
   font-weight: bold;
}

.publication .authors {
   font-style: normal;
}

.publication .venue {
   font-style: italic;
}

.showBibtex .showBibtexContent {
    font-size: 10pt;
}