---
---

.publication {
   margin-bottom: 30px;
}

.publication p {
   line-height: 50%;
}

.publication .title {
   font-weight: bold;
}

.publication .authors {
   font-style: normal;
}

.publication .venue {
   font-style: italic;
}