<!-- Adapted from https://github.com/uwsampa/research-group-web -->

<table class="publicationTable">
<tbody>
		<tr>
			<td><hr></td>
		</tr>
		<tr>
			<td class="publication">
				<span class="title">
							<img src="/images/pdficon_small.png" width="16"
								height="16" alt="PDF" />
						<a href="https://arxiv.org/pdf/1802.08936.pdf">A Dataset To Evaluate The Representations Learned By Video Prediction Models</a>
				</span><br />
				<span class="authors">
					<strong>Ryan Szeto</strong>, Simon Stent, German Ros, and Jason J. Corso
				</span><br />
				<span class="venuetype"></span><span class="venue">International Conference on Learning Representations (Workshop Track)</span>,
				<span class="year">2018</span>
				<br />
				<span class="links">
				</span>
				<div class="showBibtex">
					[<a href="javascript:void(0)" class="showBibtexLink"> BibTeX </a>]<br />
					<div class="showBibtexContent" style="display:none">
						<pre class="bibtex">@inproceedings{szeto2018dataset,
    author = "Szeto, Ryan and Stent, Simon and Ros, German and Corso, Jason J.",
    title = "A Dataset To Evaluate The Representations Learned By Video Prediction Models",
    booktitle = "International Conference on Learning Representations (Workshop Track)",
    month = "Apr",
    year = "2018"
}</pre>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td><hr></td>
		</tr>
		<tr>
			<td class="publication">
				<span class="title">
							<img src="/images/pdficon_small.png" width="16"
								height="16" alt="PDF" />
						<a href="https://arxiv.org/pdf/1703.09859.pdf">Click Here: Human-Localized Keypoints as Guidance for Viewpoint Estimation</a>
				</span><br />
				<span class="authors">
					<strong>Ryan Szeto</strong> and Jason J. Corso
				</span><br />
				<span class="venuetype"></span><span class="venue">IEEE International Conference on Computer Vision</span>,
				<span class="year">2017</span>
				<br />
				<span class="links">
				</span>
				<div class="showBibtex">
					[<a href="javascript:void(0)" class="showBibtexLink"> BibTeX </a>]<br />
					<div class="showBibtexContent" style="display:none">
						<pre class="bibtex">@inproceedings{szeto2017click,
    author = "Szeto, Ryan and Corso, Jason J.",
    title = "Click Here: Human-Localized Keypoints as Guidance for Viewpoint Estimation",
    booktitle = "IEEE International Conference on Computer Vision",
    month = "Oct",
    year = "2017"
}</pre>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td><hr></td>
		</tr>
		<tr>
			<td class="publication">
				<span class="title">
							<img src="/images/linkicon_small.png" width="16"
								height="16" alt="LINK" />
						<a href="http://ieeexplore.ieee.org/document/7442396">Portable Lecture Capture that Captures the Complete Lecture</a>
				</span><br />
				<span class="authors">
					Paul E. Dickson, Chris Kondrat, <strong>Ryan B. Szeto</strong>, W. Richards Adrion, Tung T. Pham, and Tim D. Richards
				</span><br />
				<span class="venuetype"></span><span class="venue">IEEE International Symposium on Multimedia</span>,
				<span class="year">2015</span>
				<br />
				<span class="links">
				</span>
				<div class="showBibtex">
					[<a href="javascript:void(0)" class="showBibtexLink"> BibTeX </a>]<br />
					<div class="showBibtexContent" style="display:none">
						<pre class="bibtex">@inproceedings{dickson2015portable,
    author = "Dickson, Paul E. and Kondrat, Chris and Szeto, Ryan B. and Adrion, W. Richards and Pham, Tung T. and Richards, Tim D.",
    title = "Portable Lecture Capture that Captures the Complete Lecture",
    booktitle = "IEEE International Symposium on Multimedia",
    pages = "559--564",
    year = "2015",
    organization = "IEEE"
}</pre>
					</div>
				</div>
			</td>
		</tr>
</tbody>
</table>