<!-- Adapted from https://github.com/uwsampa/research-group-web -->

<table class="publicationTable">
<tbody>
		<tr>
			<td><hr></td>
		</tr>
		<tr>
			<td class="publication">
				<span class="title">
							<img src="/images/pdficon_small.png" width="16"
								height="16" alt="PDF" />
						<a href="https://arxiv.org/pdf/1803.07218.pdf">A Temporally-Aware Interpolation Network for Video Frame Inpainting</a>
				</span><br />
				<span class="authors">
					Ximeng Sun, <strong>Ryan Szeto</strong>, and Jason J. Corso
				</span><br />
				<span class="venuetype"></span><span class="venue">arXiv preprint arXiv:1803.07218</span>,
				<span class="year">2018</span>
				<br />
				<span class="links">
				</span>
				<div class="showBibtex">
					[<a href="javascript:void(0)" class="showBibtexLink"> BibTeX </a>]<br />
					<div class="showBibtexContent" style="display:none">
						<pre class="bibtex">@article{sun2018temporally,
    author = "Sun, Ximeng and Szeto, Ryan and Corso, Jason J.",
    title = "A Temporally-Aware Interpolation Network for Video Frame Inpainting",
    journal = "arXiv preprint arXiv:1803.07218",
    year = "2018"
}</pre>
					</div>
				</div>
			</td>
		</tr>
</tbody>
</table>