<table class="table">
	<tbody>
		<tr>
			<td class="publication">
				<span class="title">
					Portable Lecture Capture that Captures the Complete Lecture
				</span><br />
				<span class="authors">
					Paul E. Dickson, Chris Kondrat, Ryan B. Szeto, W. Richards Adrion, Tung T. Pham, and Tim D. Richards
				</span><br />
				<span class="venuetype"></span><span class="venue">IEEE International Symposium on Multimedia</span>,
				<span class="year">2015</span>
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
	</tbody>
</table>