<table class="publicationTable">
	<tbody>
		<tr>
			<td class="publication">
				<span class="title">
							<img src="/images/linkicon_small.png" width="16"
								height="16" alt="LINK" />
						<a href="http://ieeexplore.ieee.org/document/7442396">Portable Lecture Capture that Captures the Complete Lecture</a>
				</span><br />
				<span class="authors">
					Paul E. Dickson, Chris Kondrat, <strong>Ryan B. Szeto</strong>, W. Richards Adrion, Tung T. Pham, and Tim D. Richards
				</span><br />
				<span class="venuetype"></span><span class="venue">IEEE International Symposium on Multimedia</span>,
				<span class="year">2015</span>
				<br />
				<span class="links">
				</span>
				<div class="showBibtex">
					[<a href="javascript:void(0)" class="showBibtexLink"> BibTeX </a>]<br />
					<div class="showBibtexContent" style="display:none">
						<pre class="bibtex">@inproceedings{dickson2015portable,
    author={Dickson, Paul E. and Kondrat, Chris and Szeto, Ryan B. and Adrion, W. Richards and Pham, Tung T. and Richards, Tim D.},
    title={Portable Lecture Capture that Captures the Complete Lecture},
    booktitle={IEEE International Symposium on Multimedia},
    pages={559--564},
    year={2015},
    organization={IEEE}
}</pre>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>