<table class="publicationTable">
	<tbody>
		<tr>
			<td class="publication">
				<span class="title">
							<img src="/images/linkicon_small.png" width="16"
								height="16" alt="LINK" />
						<a href="https://ieeexplore.ieee.org/document/8892406">A Temporally-Aware Interpolation Network for Video Frame Inpainting</a>
				</span><br />
				<span class="authors">
					<strong>Ryan Szeto</strong>, Ximeng Sun, Kunyi Lu, and Jason J. Corso
				</span><br />
				<span class="venuetype"></span><span class="venue">IEEE Transactions on Pattern Analysis and Machine Intelligence</span>,
				<span class="year">2019</span>
				<br />
				<span class="links">
				</span>
				<div class="showBibtex">
					[<a href="javascript:void(0)" class="showBibtexLink"> BibTeX </a>]<br />
					<div class="showBibtexContent" style="display:none">
						<pre class="bibtex">@article{szeto2019temporally,
    author = "Szeto, Ryan and Sun, Ximeng and Lu, Kunyi and Corso, Jason J.",
    title = "A Temporally-Aware Interpolation Network for Video Frame Inpainting",
    journal = "IEEE Transactions on Pattern Analysis and Machine Intelligence",
    month = "Nov",
    year = "2019"
}</pre>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>