<table class="publicationTable">
	<tbody>
		<tr>
			<td class="publication">
				<span class="title">
							<img src="/images/pdficon_small.png" width="16"
								height="16" alt="PDF" />
						<a href="https://arxiv.org/pdf/2105.05332.pdf">The DEVIL is in the Details: A Diagnostic Evaluation Benchmark for Video Inpainting</a>
				</span><br />
				<span class="authors">
					<strong>Ryan Szeto</strong> and Jason J. Corso
				</span><br />
				<span class="venuetype"></span><span class="venue">arXiv preprint arXiv:2105.05332</span>,
				<span class="year">2021</span>
				<br />
				<span class="links">
				</span>
				<div class="showBibtex">
					[<a href="javascript:void(0)" class="showBibtexLink"> BibTeX </a>]<br />
					<div class="showBibtexContent" style="display:none">
						<pre class="bibtex">@article{szeto2021devil,
    author={Szeto, Ryan and Corso, Jason J.},
    title={The DEVIL is in the Details: A Diagnostic Evaluation Benchmark for Video Inpainting},
    journal={arXiv preprint arXiv:2105.05332},
    year={2021}
}</pre>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>