<table class="publicationTable">
	<tbody>
		<tr>
			<td class="publication">
				<span class="title">
							<img src="/images/pdficon_small.png" width="16"
								height="16" alt="PDF" />
						<a href="https://arxiv.org/pdf/1912.04950.pdf">HyperCon: Image-To-Video Model Transfer for Video-To-Video Translation Tasks</a>
				</span><br />
				<span class="authors">
					<strong>Ryan Szeto</strong>, Mostafa El-Khamy, Jungwon Lee, and Jason J. Corso
				</span><br />
				<span class="venuetype"></span><span class="venue">arXiv preprint arXiv:1912.04950</span>,
				<span class="year">2019</span>
				<br />
				<span class="links">
				</span>
				<div class="showBibtex">
					[<a href="javascript:void(0)" class="showBibtexLink"> BibTeX </a>]<br />
					<div class="showBibtexContent" style="display:none">
						<pre class="bibtex">@article{szeto2019hypercon,
    author={Szeto, Ryan and El-Khamy, Mostafa and Lee, Jungwon and Corso, Jason J.},
    title={HyperCon: Image-To-Video Model Transfer for Video-To-Video Translation Tasks},
    journal={arXiv preprint arXiv:1912.04950},
    year={2019}
}</pre>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>