---
layout: default
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/home.css">
<div class="home_content">

   <img class="photo" src="{{ site.baseurl}}/images/photo.jpg"></img>
   <div class="about_me">
      <h1>About Me</h1>
      <p>I am a second-year Computer Science and Engineering Ph.D. student at the University of Michigan in Ann Arbor, working with {% include f/person_text person_id="jjcorso" use_title=true %} in computer vision. I am interested in structured deep learning, especially applied to vision and language problems. I graduated summa cum laude from University of Massachusetts Amherst in 2015, where I received two B.S. degrees, one in Computer Science and another in Mathematics. During my junior year, I was inducted into the UMass Amherst chapter of Phi Beta Kappa.</p>
      <p>The majority of my research at UMass was as a member of the RIPPLES lab, which specializes in new software systems for capturing and presenting lectures and is directed by {% include f/person_text person_id="adrion" use_title=true %}. I worked on various aspects of the Presentations Automatically Organized from Lectures system, including video conversion, whiteboard processing, multithreading, and the graphical user interface.</p>
      </p>During the 2012 spring and fall semesters, I was a member of the <a href="http://edesign.ecs.umass.edu/">Center for e-Design</a> under the instruction of {% include f/person_text person_id="wileden" use_title=true %} and {% include f/person_text person_id="skrishna" use_title=true %}, where I primarily worked on a program that converted models between Computer-Aided Design systems.</p>
      <p>I was also a member of UMass' Commonwealth Honors College (CHC), where I graduated as a Commonwealth Honors College Scholar with Greatest Distinction. As part of CHC's Departmental Honors track, I completed an Honors Thesis on detecting marker strokes from whiteboard images efficiently. The CHC provided multiple awards to support my work, including the Research Assistant Fellowship, the Honors Research Grant, and the Honors Dean's Award.</p>
      <p>From the former UMass School of Computer Science (now the College of Information and Computer Sciences), I received the Outstanding Achievement in Artificial Intelligence Award, which is given to a top student who has excelled in both academic and research-oriented endeavors in AI. I also received the Cisco Award for Outstanding Achievement and course commendations in many classes.</p>
   </div>

   <div class="awards">
      <h1>Awards and Honors</h1>
      <ul>
         <li>NSF Graduate Research Fellowship 2017 - Honorable Mention (UMich)</li>
         <li>Outstanding Achievement in Artificial Intelligence Award (UMass)</li>
         <li>Honors Dean's Award (UMass)</li>
         <li>Honors Research Grant (UMass)</li>
         <li>Research Assistant Fellowship (UMass)</li>
         <li>Cisco Award for Outstanding Achievement (UMass)</li>
         <li>Course Commendations in CMPSCI 220, 240, 250, and 585 (UMass)</li>
      </ul>
   </div>

   <div class="news">
      <h1>News</h1>
      {% assign sorted_news = site.news | sort: 'date' | reverse %}
      {% for post in sorted_news %}
         <div class="newsItem">
            <div class="date">
               <p class="dateText">{{ post.date | date: "%m/%d/%Y" }}</p>
            </div>
            <div class="content">
               <span class="contentText">{{ post.content }}</span>
            </div>
         </div>
      {% endfor %}
   </div>

</div>