<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/header.css"/>
<div class="wrapper-masthead">
   <div class="container">
      <header class="masthead clearfix">
         <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}/images/umich_logo.png" /></a>

         <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">Ryan Szeto</a></h1>
            <p class="site-description">CSE Ph.D. Student, University of Michigan Ann Arbor</p>
         </div>

         <nav>
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/blog">Blog</a>
            <a href="{{ site.baseurl }}/contact">Contact</a>
            <a href="{{ site.baseurl }}/projects">Projects</a>
            <a href="{{ site.baseurl }}/publications">Publications</a>
         </nav>
      </header>
   </div>
</div>