<!-- Adapted from https://github.com/uwsampa/research-group-web -->

<table class="table">
<tbody>
	{%- set prev_year = 1900 %}
	{%- for entry in entries %}
		{% if entry.fields['year'] != prev_year %}
		<tr>
			<td class="date">
				<h2>{{ entry.fields['year'] }}</h2>
			</td>
		</tr>
		{%- set prev_year = entry.fields['year'] %}
		{% endif %}
		<tr>
			<td class="publication">
				<span class="title">
					{%- set url = entry|main_url %}
					{%- if url %}
					<img src="/images/pdficon_small.png" width="16"
						height="16" alt="PDF" />
					<a href="{{ url|escape }}">{{ entry|title }}</a>
					{%- else %}
					{{ entry|title }}
					{%- endif %}
				</span><br />
				<span class="authors">
					{{ entry.persons['author']|author_list }}
				</span><br />
				<span class="venuetype">{{ entry|venue_type -}}</span><span class="venue">{{ entry|venue -}}</span>
				{%- if entry.fields['note'] %}
				<span class="note">
				{{ entry.fields['note']|escape }}
				</span>
				{%- endif %}
				<br />
				<span class="links">
				{%- for type, url in (entry|extra_urls).iteritems() %}
					[<a href="{{ url|escape }}">{{ type|escape }}</a>]
				{%- endfor %}
				</span>
			</td>
		</tr>
	{%- endfor %}
</tbody>
</table>
