<table class="publicationTable">
	<tbody>
		<tr>
			<td class="publication">
				<span class="title">
					{%- set url = entry|main_url %}
					{%- if url %}
					<img src="/images/pdficon_small.png" width="16"
						height="16" alt="PDF" />
					<a href="{{ url|escape }}">{{ entry|title }}</a>
					{%- else %}
					{{ entry|title }}
					{%- endif %}
				</span><br />
				<span class="authors">
					{{ entry.persons['author']|author_list }}
				</span><br />
				<span class="venuetype">{{ entry|venue_type -}}</span><span class="venue">{{ entry|venue -}}</span>,
				<span class="year">{{ entry.fields['year'] }}</span>
				{%- if entry.fields['note'] %}
				<span class="note">
				{{ entry.fields['note']|escape }}
				</span>
				{%- endif %}
				<br />
				<span class="links">
				{%- for type, url in (entry|extra_urls).iteritems() %}
					[<a href="{{ url|escape }}">{{ type|escape }}</a>]
				{%- endfor %}
				</span>
				<div class="showBibtex">
					[<a href="javascript:void(0)" class="showBibtexLink"> BibTeX </a>]<br />
					<div class="showBibtexContent" style="display:none">
						<pre class="bibtex">{{ entry.fields["bibtex"] }}</pre>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>