---
layout: default
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/project.css">
<script type="text/javascript" src="/js/revealBibtex.js"></script>

<article class="project">
  <h1 class="projectTitle">{{ page.title }}</h1>
  <p id="authors">
  {% for author in page.authors %}
    {% if forloop.last %}
      {% assign author_comma = '' %}
    {% else %}
      {% assign author_comma = ',' %}
    {% endif %}

    {% if author.link %}
      <a href="{{ author.link }}">{{ author.name }}</a>{{ author_comma }}
    {% else %}
       {{ author.name }}{{ author_comma }}
    {% endif %}
  {% endfor %}
  </p>

  <div class="entry">
    {{ content }}
  </div>

  <p><a href="{{ site.baseurl }}/projects">Back to Projects</a></p>
  
</article>