---
layout: default
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/project.css">
<script type="text/javascript" src="/js/revealBibtex.js"></script>

<article class="project">
  <h1 class="projectTitle">{{ page.title }}</h1>
  <p id="authors">
  {% for person_id in page.authors %}
    {% if forloop.last %}
      {% assign author_comma = '' %}
    {% else %}
      {% assign author_comma = ',' %}
    {% endif %}

    {% include f/person_text person_id=person_id use_title=false %}{{ author_comma }}
  {% endfor %}
  </p>

  <div class="entry">
    {{ content }}
  </div>

  <div class="back-link">
    <p><a href="{{ site.baseurl }}/projects">Back to Projects</a></p>
  </div>
</article>