---
layout: default
---

<article class="project">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="advisors">
    <h2>Advisors</h2>
    <ul>
      {% for advisor in page.advisors %}
        {% if advisor.link %}
          <li><a href="{{ advisor.link }}">{{ advisor.name }}</a></li>
        {% else %}
          <li>{{ advisor.name }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  
  <div class="students">
    <h2>Associated students</h2>
    <ul>
      {% for student in page.students %}
        {% if student.link %}
          <li><a href="{{ student.link }}">{{ student.name }}</a></li>
        {% else %}
          <li>{{ student.name }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  
  {% if page.publicationIds %}
    <div class="publications">
      <h2>Publications</h2>
      <ul>
        {% for pubId in page.publicationIds %}
          {% assign publication = site.data.publications[pubId.id] %}
          <li class="publication">
            <p class="title">{{ publication.title }}</p>
            <p class="authors">{{ publication.authors }}</p>
            <p class="venue"> {{ publication.venue }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
</article>


<a href="{{ site.baseurl }}/projects">Back to Projects</a>