---
layout: default
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/project.css">

<article class="project">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="advisors">
    <h2>Advisors</h2>
    <ul>
      {% for advisor in page.advisors %}
        {% if advisor.link %}
          <li><a href="{{ advisor.link }}">{{ advisor.name }}</a></li>
        {% else %}
          <li>{{ advisor.name }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  
  <div class="students">
    <h2>Associated students</h2>
    <ul>
      {% for student in page.students %}
        {% if student.link %}
          <li><a href="{{ student.link }}">{{ student.name }}</a></li>
        {% else %}
          <li>{{ student.name }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  
  {% if page.publicationIds %}

    {% comment %} Get and sort publications {% endcomment %}
    {% assign pubs = "" | split: "|" %}
    {% for pubId in page.publicationIds %}
       {% assign pubAsArr = site.publications | where: 'publication_id', pubId %}
       {% assign publication = pubAsArr[0] %}
       {% assign pubs = (pubs | push: publication) %}
    {% endfor %}
    {% assign pubs_sorted = (pubs | sort: "year" | reverse) %}
    
    <div class="publications">
      <h2>Publications</h2>
        {% for publication in pubs_sorted %}
          <div class="publication">
            <p>
               <span class="title">{{ publication.title }}</span><br />
               <span class="authors">{{ publication.authors }}</span><br />
               <span class="venue">{{ publication.venue }}, {{ publication.year }}</span><br />
            </p>
          </div>
        {% endfor %}
    </div>
  {% endif %}
  
  <a href="{{ site.baseurl }}/projects">Back to Projects</a>
  
</article>